* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@-webkit-keyframes animtest {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animtest {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body,
html {
  color: #0652DD;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
  height: 100%;
  font-family: "Lobster", cursive;
  background-color: #1B1464;
}

a,
a:hover {
  text-decoration: none;
  color: #0652DD;
}

img {
  min-width: 100%;
  height: auto;
}

section {
  padding: 60px 0;
}

.container {
  min-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.splash {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  padding: 0 24px;
  background-image: url("https://i.postimg.cc/X77NNQ0L/coral-3204592.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.page-intro {
  margin: auto;
  text-align: center;
}

.main-title {
  margin: 0;
  font-weight: normal;
  font-family: "Lobster", cursive;
  font-size: 100px;
  text-shadow: 12px 10px 0.5px #0652DD;
}

.main-subtitle {
  margin: 12px 0 60px 0;
  font-weight: normal;
  font-family: "Lobster", cursive;
  color: white;
}

.btn {
  padding: 18px 24px 18px 24px;
  font-size: 50px;
  background-color: transparent;
  color: whitesmoke;
  -webkit-box-shadow: 0 7px black;
          box-shadow: 0 7px black;
  letter-spacing: 1px;
  border-radius: 60px;
  background: rgba(0, 0, 0, 0.5);
}

.btn:hover {
  background-color: #0652DD;
  color: white;
  border-radius: 60px;
}

.section-title {
  position: relative;
  margin: 0 0 60px 0;
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 12px 6px black;
  padding: 0;
}

.section-title:after {
  position: absolute;
  display: block;
  content: '';
  width: 50px;
  height: 2px;
  background: #EA2027;
  left: 50%;
  bottom: -16px;
  margin-left: -30px;
}

.about {
  background-color: #1B1464;
}

.section-intro {
  padding: 15px 100px;
  margin: 36px 0 0 0;
  font-size: larger;
  text-shadow: 2px 12px 6px black;
  text-align: center;
}

.features-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  min-width: 33.333333%;
  text-align: center;
  margin: 24px 0 0 0;
  background-color: #1B1464;
}

.features i {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 100px;
  border-radius: 40px;
  text-shadow: 2px 12px 1px black;
  -webkit-animation-name: animtest;
          animation-name: animtest;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.feature-title {
  margin: 24px 0 0 0;
  text-transform: uppercase;
  font-size: 50px;
  text-shadow: 2px 12px 6px black;
}

.feature-description {
  margin: 24px 0 0 0;
  padding: 0 24px;
  font-size: larger;
  text-shadow: 2px 12px 6px black;
}

.statement {
  background-image: url("https://i.postimg.cc/mgkc3nn6/underwater-photography-of-turtle-2397653.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
}

.statement p {
  padding: 0px 50px;
  margin: 0;
  font-family: "Lobster", cursive;
  font-size: xx-large;
  text-align: center;
  color: whitesmoke;
  text-shadow: 2px 1px 10px black;
}

.section.galeria {
  padding: 60px 0 0 0;
}

.galeria-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 72px 0 0 0;
}

.galeria-item {
  position: relative;
  margin: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
}

.galeria-item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.galeria-item:before {
  position: absolute;
  display: none;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
}

.galeria-item figcaption {
  position: absolute;
  display: none;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: xx-large;
  color: whitesmoke;
  text-shadow: 2px 1px 3px black;
}

.galeria-item:hover:before,
.galeria-item:hover figcaption {
  display: block;
}

.btnr1 {
  padding: 18px 24px 18px 24px;
  font-size: xx-large;
  background-color: transparent;
  color: whitesmoke;
  -webkit-box-shadow: 0 7px black;
          box-shadow: 0 7px black;
  letter-spacing: 1px;
  border-radius: 60px;
  background: rgba(0, 0, 0, 0.5);
  font-family: 'Lobster', cursive;
}

.btnr1:hover {
  background-color: #0652DD;
  color: white;
  border-radius: 60px;
}

.footer {
  background-color: black;
}

.page-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-footer p {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */