$color-main: #0652DD;
$color-background: #1e90ff;
$color-text: #ffffff;
$color-splash: #0652DD;
$font-header: 'Lobster', cursive;
$font-text: 'Lobster', cursive;
*{
    box-sizing: border-box;
}
*:focus{
    box-shadow: none;
}
@keyframes animtest{
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }

}
body, html{
    color: $color-splash;
    font-size: 16px;
    line-height: 1.7;
    margin: 0;
    height: 100%;
    font-family: $font-header;
    background-color: #1B1464;
}
a, a:hover{
    text-decoration: none;
    color: $color-main;
}
img{
    min-width: 100%;
    height: auto;
}
section{
    padding: 60px 0;
}
.container{
    min-width: 980px;
    margin: 0 auto;
    padding: 0 20px;    
}
.splash{
    position: relative;
    display: flex;
    flex-direction: column;
    color: $color-text ;
    padding: 0 24px;
    background-image: url('https://i.postimg.cc/X77NNQ0L/coral-3204592.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;//ustawienie tła na cała wyskokośc ekranu
}
.page-intro{
    margin: auto;
    text-align: center;
}
.main-title{
    margin: 0;
    font-weight: normal;
    font-family: $font-header;
    font-size: 100px;
    text-shadow: 12px 10px 0.5px #0652DD;//cien za testem
}
.main-subtitle{
    margin: 12px 0 60px 0;
    font-weight: normal;
    font-family: $font-text;
    color: whi;
}
.btn{
    padding: 18px 24px 18px 24px;
    font-size: 50px;
    background-color: transparent;
    color: whitesmoke;
    box-shadow: 0 7px darken($color-main, 70%);
    letter-spacing: 1px;
    border-radius: 60px;
    background: rgba(0,0,0,0.5);
}
.btn:hover{
    background-color: $color-main; 
    color: white;
    border-radius: 60px;
}
.section-title{
    position: relative;
    margin: 0 0 60px 0;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 12px 6px black;//cien za testem
    // animation-name: animtest;
    // animation-duration: 4s;
    // opacity: 0;
 
}
.section-title:after{
    position: absolute;
    display: block;
    content: '';
    width: 100px;
    height: 2px;
    background: #EA2027;
    left: 48%;  
    bottom: -16px;
    margin: -25px;
}
.about{
    background-color: #1B1464;
}
.section-intro{
    margin: 36px 0 0 0;
    font-size: larger;
    text-shadow: 2px 12px 6px black;//cien za testem
}
.features-wrapper{
    display: flex;
}
.features{
    flex: 0 0 33.333333%;
    min-width: 33.333333%;
    text-align: center;
    margin: 24px 0 0 0;
    background-color: #1B1464;
}
.features i{
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 100px;
    border-radius: 40px;    
    text-shadow: 2px 12px 1px black;//cien za testem
    animation-name: animtest;
    animation-duration: 10s;    
}
.feature-title{
    font-size: 50px;
    text-shadow: 2px 12px 6px black;//cien za testem
}
.feature-description{
    font-size: larger;
    text-shadow: 2px 12px 6px black;//cien za testem
}
.statement{
    background-image: url('https://i.postimg.cc/mgkc3nn6/underwater-photography-of-turtle-2397653.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;    
    background-attachment: fixed;
    height: 100%;
}
.statement p{
    padding: 0 250px;
    margin: 0;
    font-size: xx-large;
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 1px 10px black;//cien za testem
}
.section.galeria{
    padding: 60px 0 0 0;
}
.galeria-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 72px 0 0 0;
}
.galeria-item{
    position: relative;
    margin: 0;
    flex: 0 0 25%;
    max-width: 25%;
    text-align:center;
}
.galeria-item img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galeria-item:before {
    position: absolute;
    display: none;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
}
.galeria-item figcaption{
    position: absolute;
    display: none;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: xx-large;
    color: whitesmoke;
    text-shadow: 2px 1px 3px black;//cien za testem
}
.galeria-item:hover:before, .galeria-item:hover figcaption{
    display: block;
}